@import '@sweetalert2/theme-dark/dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-items .active {
  color: #ff7104;
  border-bottom: 3px solid #ff7104;
  padding-bottom: 4px;
}
#sidebar .active {
  background: #F1F1F1;
  border-radius:10px
}
